<meta charset="utf-8">

<style>
    a:link {
        color: #3C9DBC;
        text-decoration: none; 
    } 
    a:visited {
        color: #3C9DBC;
        text-decoration: none;
    }
    a:hover {
        color: #3C9DBC;
        text-decoration: underline;
    }
</style>

<div id='dges-container'>
    
<div class="oj-flex-item" >
    <!-- line test chart -->
    <div id="chart-test-container">
        <div id="testChart" data-bind="ojComponent: {
                    component: 'ojChart', 
                    type: 'line', 
                    series: seriesValue, 
                    groups: groupsValue, 
                    selectionMode: 'multiple',
                    animationOnDisplay: 'auto',
                    animationOnDataChange: 'auto',
                    hideAndShowBehavior: 'withoutRescale',
                    optionChange: chartOptionChange,
                    orientation: orientationValue,
                    hoverBehavior: 'dim',
                    title: {text: 'This is a test chart', halign: 'center'},
                    yAxis:{step:0.5},
                    legend: {position: 'top'}                    
                  }"  style="max-width:500px;width:100%;height:350px;" >
        </div>
    </div>  
    <!-- end test chart drilling: 'on' -->
    
    <!-- select point/s popup -->
    <div id="popupWrapper1">
        <div style="display:none" id="popup1"
             data-bind="ojComponent:{component: 'ojPopup',
                               rootAttributes: {style:'width:320px;height:320px;'}
                              }">
            <div class="demo-flex-display oj-flex-items-pad">
                <div class="oj-flex oj-sm-flex-direction-column">
                    <div class="oj-flex-item">
                        <h3><span data-bind="text: dataPointsMarked">&nbsp;</span></h3>
                        <button id="btnClose" class="oj-panel-remove-button" 
                                data-bind="
                                    ojComponent: {
                                      component: 'ojButton', 
                                      chroming: 'half',
                                      display: 'icons', 
                                      icons: {end: 'oj-panel-remove-icon'}, 
                                      label: 'remove'},
                                      click: function() {$('#popup1').ojPopup('close', '#btnClose');}">
                        </button>
                    </div>
                    <div class="oj-flex-item oj-dialog-body" style="height:176px;">
                        <!-- ko foreach: selectedAnotations -->
                        <div class="oj-flex oj-sm-flex-direction-column"  >
                            <div class="oj-flex-item" style="border-bottom: 1px solid #e6e6e6; padding: 5px 10px 5px 10px;">
                               <img data-bind="attr: { src: imgSrc, title: title }" style="vertical-align:bottom; width: 20px; height: 20px;"/> 
                               <b><span data-bind="text: type"> </span></b> from <b><span data-bind="text: from"> </span></b><br>
                               <span data-bind="text: shortComment"> </span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="oj-flex-item" style="height:10px">
                    </div>
                    <div class="oj-flex-item oj-flex-items-pad">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <a href="#" id="addAnnotation" data-bind="click: lcAddPopup">
                                    <img src="images/comment_add.png" style="vertical-align:middle; width: 16px; height: 16px;"/>
                                    Add annotation
                                </a>
                            </div>
                            <div class="oj-flex-item" align="right">
                                <a href="#">
                                    <img src="images/comment_view.png" style="vertical-align:middle; width: 16px; height: 16px;"/>
                                    View annotations
                                </a>

                            </div>
                        </div>
                    </div>                    
                    <div class="oj-flex-item oj-flex-items-pad">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <a href="#">
                                    <img src="images/view.png" style="vertical-align:middle; width: 16px; height: 16px;"/>
                                    View daily measures
                                </a> 
                            </div>
                            <div class="oj-flex-item" align="right">
                                <a href="#">
                                    <img src="images/view.png" style="vertical-align:middle; width: 16px; height: 16px;"/>
                                    View NUIs
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end select point/s popup -->
    
    <!-- add annotation window -->
    <div id="dialogWrapper1">
        <div style="display:none; " id="dialog1" title="Add annotation"  
             data-bind="ojComponent:{
                            component: 'ojDialog', 
                            initialVisibility: 'hide',
                            rootAttributes: {style: 'width: 360px; height: 480px;'}
             }">
            <div class="oj-dialog-body">

                <div id="form-container">
                    <div class="oj-form-layout">
                        <div class="oj-form" >
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <label id="selectgrouplabel">Choose type</label>
                                    <div class="oj-form-control-group" aria-labelledby="selectgrouplabel" role="group">
                                        <ul id="riskList" style="display: none">
                                            <!-- ko foreach: risksTags -->
                                            <li data-bind="attr: {'oj-data-value': value}">
                                                <img data-bind="attr: {src: imagePath}" 
                                                     role="presentation" style="vertical-align:middle; width: 16px; height: 16px;"/> 
                                                <span data-bind="text: label"></span>
                                            </li>
                                            <!-- /ko -->   
                                        </ul>
                                        <input id="inputJobSearch" placeholder="Choose risk..." required="true"
                                               data-bind="ojComponent: {
                                                            component: 'ojCombobox',
                                                            value: selectedRiskStatus,
                                                            list: 'riskList',
                                                            rootAttributes: {style:'width:165px'}}">
                                        
                                        <select id="selectTypePerDataValidity"
                                                data-bind="ojComponent: {
                                                        component: 'ojSelect',
                                                        list: 'typePerDataValidity',
                                                        rootAttributes: {style:'width:165px'}}">
                                        </select>
                                        <ul id="typePerDataValidity" style="display: none">
                                            <li> </li>
<!--                                        <li oj-data-value="Questionable data"><img src="images/questionable_data.png" style="vertical-align:middle; width: 16px; height: 16px;"/> Questionable data</li>
                                            <li oj-data-value="Faulty data"><img src="images/faulty_data.png" style="vertical-align:middle; width: 16px; height: 16px;"/> Faulty data</li>-->
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <label for="selectRole">For (select multiple)</label>
                                    <select id="selectRole" 
                                            data-bind="ojComponent: {
                                            component: 'ojSelect', 
                                            value: valRole,
                                            multiple: true,
                                            rootAttributes: {style:'max-width:334px'}
                                        }">

                                        <option value="Caregiver">Caregiver</option>
                                        <option value="Geriatrician">Geriatrician</option>
                                        <option value="Intervention staff">Intervention staff</option>
                                        <option value="City 4 Age staff">City 4 Age staff</option>
                                    </select>
                                </div>
                            </div>


                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="textareacontrol">Comment</label>
                                    <textarea id="textareacontrol" rows="5"
                                              data-bind="ojComponent: {
                                                    component: 'ojTextArea',
                                                    rootAttributes: {style:'max-width:334px'}, 
                                                    value: commentText,
                                                    placeholder: 'No comment yet.'}">
                                    </textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="oj-dialog-footer" style="padding-right: 15px;">
                <div align="right">
                    <button id= "okButton" 
                            data-bind="ojComponent: { 
                                component: 'ojButton', 
                                chroming: 'full', 
                                label: 'Post'},
                                click: postAnnotation">
                    </button>

                    <button id= "buttonCancel"
                            data-bind="ojComponent: { 
                                component: 'ojButton', 
                                chroming: 'full', 
                                label: 'Cancel'},
                                click: function(){$('#dialog1').ojDialog('close');} 
                            ">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end add annotation window -->
    
</div>
</div>