.Frail{
    color:gray;   
}

.Pre-frail{
    color:red;   
}

.frail-fit{
    color:green;   
}


.fre-frail{
    color:red;
}

.pre-frail-fit{
    color:orange;
}


.loader-hover {
    margin: 0;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.loader{
    overflow: hidden;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    margin: auto;
}

.part {
    width: 250px;
    position: absolute;
}

.svgpath {
    fill: rgba(145,220,90,0);
    stroke: aqua;
    stroke-width: 1.5px;
    stroke-dasharray: 1000;
    stroke-linecap: round;
    z-index: 2;
}

.svgbg {
    fill: rgba(255,255,255,0.2);
    z-index: 1;
}

#playload {
    animation: dash 2.5s reverse ease-in-out infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 2000;
    }
}


.visualization-drop{

    border-bottom: 1px #dadada solid;
    padding: 4px;
    margin: 4px;
}

#detectionGEFGroupsLineChart,#detectionGEFGroup1FactorsChart{
    background: #f1f1f1;
}

#polarChart1,#polarChart2,#detectionGEFGroup1FactorsLineChart{
    display: none;
}

#test #summary {
	height:19px ;overflow:hidden;padding-top:10px;width:60%
}

#test #summary .labels {
	font-size: 16px
}

#filteringDate{
    
    width: 100%;
    text-align: center;
}

.assesmentBtn{
    width: 100%;
    text-align: center; 
    /*margin-top: 3%;*/
}


.formShow {
	position: absolute;
	z-index: 10;
	right: 25px;
	margin-top: 5px;
}


/* assessments-list */
.aa_comment {
	padding-bottom: 20px;
}
.aa_c_info {
	width: 100%;
	padding-bottom: 10px;
}
.aa_c_text {
	width: 100%;
}

.headdiv{
	font-size: 16px;
	color:#fff;
	padding-top:2px;
	line-height:25px;
	display:inline-block;	
}

