
#readmore {
	line-height:20px;
}

.Frail{
    color:gray;   
}

.Pre-frail{
    color:red;   
}

.frail-fit{
    color:green;   
}


.fre-frail{
    color:red;
}

.pre-frail-fit{
    color:orange;
}


.loader-hover {
    margin: 0;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.loader{
    overflow: hidden;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    margin: auto;
}

.part {
    width: 250px;
    position: absolute;
}

.svgpath {
    fill: rgba(145,220,90,0);
    stroke: aqua;
    stroke-width: 1.5px;
    stroke-dasharray: 1000;
    stroke-linecap: round;
    z-index: 2;
}

.svgbg {
    fill: rgba(255,255,255,0.2);
    z-index: 1;
}

#playload {
    animation: dash 2.5s reverse ease-in-out infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 2000;
    }
}


.visualization-drop{

    border-bottom: 1px #dadada solid;
    padding: 4px;
    margin: 4px;
}

#detectionGEFGroupsLineChart,#detectionGEFGroup1FactorsChart{
    background: #f1f1f1;
}

#polarChart1,#polarChart2,#detectionGEFGroup1FactorsLineChart{
    display: none;
}

#test #summary {
	height:19px ;overflow:hidden;padding-top:10px;width:60%
}

#test #summary .labels {
	font-size: 16px
}

#filteringDate{
    
    width: 100%;
    text-align: center;
}

.assesmentBtn{
    width: 100%;
    text-align: center; 
    /*margin-top: 3%;*/
}


.formShow {
	position: absolute;
	z-index: 10;
	right: 25px;
	margin-top: 5px;
}


/* assessments-list */
.aa_comment {
	padding-bottom: 20px;
}
.aa_c_info {
	width: 100%;
	padding-bottom: 10px;
}
.aa_c_text {
	width: 100%;
}

.headdiv{
	font-size: 16px;
	color:#fff;
	padding-top:2px;
	line-height:25px;
	display:inline-block;	
}


/* Local pilot Data*/
.pdata_inner{
	display:inline-block;
	vertical-align:top;
}

.pdata_title{
	padding-top:15px;
	font-size: 16px;
}

.pdata_head{
	font-weight: bold;
	padding: 0px 10px 5px 5px;
}

/*TESTING*/

.wrapper {
  
  background: #ececec;
  color: #555;
  cursor: help;
 
  font-size: 15px;
  
  padding: 1px 15px;
  position: relative;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltipGrid {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltipGrid:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.wrapper .tooltipGrid:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltipGrid {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltipGrid {
  display: none;
}

.lte8 .wrapper:hover .tooltipGrid {
  display: block;
}

.nui-grid-legend{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
     top:-20px;
     left:-40px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 1s;
}
.tooltipClear:hover .tooltiptextClear{
    top:-20px;
    left:-45px;
    width:150px;
    z-index: 100;
}
.tooltipClear:hover{
    background: #F8F7B0;
    
}
.tooltip:hover{
    background: #e6fffd;
}

.link:link{
    outline: none;
}
@media only screen and (max-width:1080px) {
    #measureName{
        font-size: 15px;
        padding-bottom: 10px;
        margin-left: 50px;
    }
    
}
/*FOR TABS ON MEA PAGE*/
.demo-tab-content {
    height:580px;
    overflow:auto;
  }
  .demo-edge-top,
  .demo-edge-bottom {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .demo-edge-start oj-tab-bar,
  .demo-edge-end oj-tab-bar {
    max-width: 300px;
    width:25%;
  }
  .demo-edge-start oj-switcher,
  .demo-edge-end oj-switcher {
    width: 75%;
  }
  .demo-edge-bottom oj-tab-bar,
  .demo-edge-end oj-tab-bar {
    -webkit-order: 1;
    order: 1;
}
/*END TABS ON MEA PAGE*/

/*GROUP ANALYTICS*/

.demo-tab-content-group{
    
    
}
#sampleDemo{
    text-align: left;
}
.oj-panel{
    background-color: #fcfcfd;
}
@media(min-width: 1050px){
    .flex-container {
        display: flex;
    }
    .flex-item-1, .flex-item-2{
        margin-right: 15px;
       
    }
}
@media(max-width: 1050px){
    .input-container-1, .input-container-2{
        margin-top: 20px;
        
    }
    .tree-container{
        width: 50%;
    }
}
@media(max-width: 800px){
    .tree-container{
        width: 75%;
    }
}
@media(max-width: 550px){
    .tree-container{
        width: 100%;
    }
}

.heatmap-container {
    padding: 10px;
    text-align: center;
}
.heatmap-legend-gradient{
    
    height: 15px;
    background-image: linear-gradient(to right, #76b8e1,white,#ff8080);
     margin:0 auto;
}
.heatmap-legend-numbers{
    width: 80%;
    height: 20px;
    display: flex;
    margin:0 auto;
}
.numbers{
    
    flex:1;
    text-align: center;
}
/*END GROUP ANALYTICS*/


.group-analytics-container{
    
}
